<nav class="navbar  navbar-expand-md navbar-expand-lg bg-dark navbar-fixed-top ">
    <div class="container-fluid">
		<a class="navbar-brand" href="#">Fooddo</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarid" aria-controls="navbarid" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon" > </span>
		</button>
		<div class="collapse navbar-collapse" id="navbarid">
		<ul class="navbar-nav  ml-auto" *ngIf=!isHidden>
			

            <button
            mat-raised-button
            color="primary"
            class="login-button">
           <a>{{userObj.name}}</a>
          </button>
			
			<li class="">
                <button
                mat-raised-button
                color="primary"
                class="login-button" routerLink="/home">
               <a> Logout </a>
              </button>
				
			</li>
   
		</ul>
</div>
</div>
</nav>

