.logo{
    height: 32px;
}
.bg-dark{
    background-color: black!important;
}
.login-button {
    margin-top: 20px;
    display: block;
    // width: 90%;
    padding: 1px;
    margin: 2px auto;
    background-color: black;
    border: 1px solid white;
    size: 15px;
    
  }
  a{
      color:white !important;
  }