<app-header></app-header>
<div class="container">
    <div class="card card1">
        <div card-header>
            <h1>Product Order Details </h1>

        </div>
        <div class="card-body">
            <form class="form-container" (ngSubmit)="PlaceOrder()"  novalidate [formGroup]="ProductForm" >
               <div>
                
                <h3><label>Product Name : </label>{{productdetails.name}}</h3>   
               </div>
                    
                  <div>
                    <label>Calculated Amount :&nbsp;   </label>
                    <h3>{{productdetails.price}}&nbsp;/-</h3>
                  </div>
                        
                  
                    <mat-form-field>
                        <label>Discount :   </label>
                        <input matInput formControlName="discount" type="number">
                    </mat-form-field><br>
                    <!-- <mat-form-field>
                        <label>Final Amount : &nbsp;   </label>
                        <input matInput formControlname="final_amt" type="number">
                    </mat-form-field><br> -->
                
                    <mat-form-field>
                        <label>Quantity :   </label>
                        <input matInput formControlName = "quantity">
                    </mat-form-field><br>
                   
                       
                    
            <div>
                <button mat-raised-button type="submit" class="btn"  >Order Now</button>
            </div>
                </form>

        </div>
    </div>

</div>
<app-footer></app-footer>
