<nav class="navbar  navbar-expand-md navbar-expand-lg bg-dark navbar-fixed-top ">
    <div class="container-fluid">
		<a class="navbar-brand" href="#">Fooddo</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarid" aria-controls="navbarid" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon" > </span>
		</button>
		<div class="collapse navbar-collapse" id="navbarid">
		<ul class="navbar-nav  ml-auto">
			

            <button
            mat-raised-button
            color="primary"
            class="login-button">
           <a>Contact</a>
          </button>
			
			<li class="nav-item dropdown">
                <button
                mat-raised-button
                color="primary"
                class="login-button" routerLink="/login">
               <a> Login </a>
              </button>
				
			</li>
   
		</ul>
</div>
</div>
</nav>


<!-- <div class="container-fluid image">
    <img src="assets/images/R1.jpg">
</div> -->
<div class="slider">
    <div class="carousel" id="homeCarousel"  data-ride="carousel">
     <ol class="carousel-indicators">
         <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
         <li data-target="#homeCarousel" data-slide-to="1" ></li>
         <li data-target="#homeCarousel" data-slide-to="2" ></li>
     </ol>
     <div class="carousel-inner" role="listbox">
         
         <div class="carousel-item active" data-interval="500">
             <img class="d-block w-100"
             src="assets/images/foodb2.jpg" alt="First Slide">
         </div>
         <div class="carousel-item " data-interval="500">
             <img class="d-block w-100"
             src="assets/images/foodb.jpg" alt="First Slide">
         </div>
         <div class="carousel-item" data-interval="500">
             <img class="d-block w-100"
             src="assets/images/foodb3.jpg" alt="First Slide">
         </div>
     </div>
     <a  class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
     </a>
     <a  class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
     </a>
 </div>
</div>

<app-footer></app-footer>
