<!-- <app-header></app-header>

<div class="container">
  <div class="card model" >
    <div class="header">
      <h1 >Registration Details</h1>
    </div>
    
    <div class="card-body" >
      <form class="form-container "  (ngSubmit)="Save()" novalidate [formGroup]="profileForm">
          
        <mat-form-field> -->
          <!-- <label>First Name :   </label> -->
            <!-- <input matInput placeholder="First Name" formControlName="firstname">
              <mat-icon matSuffix>perm_identity</mat-icon>
       </mat-form-field>
       <br>
       <mat-form-field> -->
        <!-- <label>Last Name  :     </label> -->
        <!-- <input matInput
        placeholder="Last Name."
        formControlName="lastname"
        >
        <mat-icon matSuffix>perm_identity</mat-icon>
     </mat-form-field>
     <br>
       <mat-form-field> -->
         <!-- <label>DOB :    </label> -->
<!--        
          <input matInput [matDatepicker]="picker" placeholder="DOB" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
       <mat-form-field> -->
        <!-- <label>Address :    </label> -->
        <!-- <input matInput
          placeholder="Address"
          formControlName="address"
          >
         
        <mat-icon matSuffix>house</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field> -->
        <!-- <label>City :    </label> -->
        <!-- <input matInput
          placeholder="City"
          formControlName="city"
          >
       
        <mat-icon matSuffix>location_city</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field> -->
        <!-- <label>State :    </label> -->
        <!-- <input matInput
          placeholder="State"
          formControlName="state"
          >
          
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field> -->
        <!-- <label>Pin :    </label> -->
        <!-- <input matInput
          placeholder="Pin"
          formControlName="pin"
          >
          
        <mat-icon matSuffix>fiber_pin</mat-icon>
      </mat-form-field>
      <br>
      <mat-radio-group formControlName="gender">
        <label class="shift">Gender  :   </label>
        <mat-radio-button value="Male" class="radio">Male</mat-radio-button>
        <mat-radio-button value="Female"class="radio">Female</mat-radio-button>
        
      </mat-radio-group>
      <br>
      <mat-form-field> -->
        <!-- <label>Contact :    </label> -->
        <!-- <input matInput type="number"
      placeholder="Contact"
          formControlName="contact"
          >
  
          <mat-icon matSuffix>call</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field> -->
        <!-- <label>Email :     </label> -->
        <!-- <input matInput type="email"
         placeholder="Email"
          formControlName="email"
          >
          <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
      <br>
     
      <div class="button-row">
        <button mat-raised-button class="btn" type="submit"  >Save</button>
        <button mat-raised-button class="btn btn1"  >Edit</button>
      </div>
    </form>
    </div>
    
  </div>
</div>
<app-footer></app-footer> -->
