<app-header></app-header>

<div class="container">
  <div class="card model" >
    <div class="header">
      <h1 >Registration Details</h1>
    </div>
    
    <div class="card-body" >
      <form class="form-container "  (ngSubmit)="Save()" novalidate [formGroup]="addForm">
          
        <mat-form-field>
          <label>Restaurant Name :   </label>
            <input matInput
              placeholder="Restaurant Name."
              formControlName="restaurant"
              >
       </mat-form-field>
       <br>
       <mat-form-field>
        <label>Restaurant Regno :   </label>
        <h3>{{CurrentUser._id}}</h3>
     </mat-form-field>
     <br>
       <mat-form-field>
         <label>Image url :    </label>
        <input matInput
          placeholder=" Restaurant Image."
          formControlName="url"
          >
    </mat-form-field>
    <br>
       <mat-form-field>
        <label>Address :    </label>
        <input matInput
          
          formControlName="address"
          >
         
        <mat-icon matSuffix>house</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field>
        <label>City :    </label>
        <input matInput
          placeholder="City"
          formControlName="city"
          >
       
        <mat-icon matSuffix>location_city</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field>
        <label>State :    </label>
        <input matInput
          placeholder="State"
          formControlName="state"
          >
          
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field>
        <label>Pin :    </label>
        <input matInput
          placeholder="Pin"
          formControlName="pin"
          >
          
        <mat-icon matSuffix>fiber_pin</mat-icon>
      </mat-form-field>
      <br>
      <mat-radio-group formControlName="type">
        <label>Type  :   </label>
        <mat-radio-button value="1" class="radio">Veg</mat-radio-button>
        <mat-radio-button value="2"class="radio">Non-Veg</mat-radio-button>
        <mat-radio-button value="3"class="radio">Both</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-form-field>
        <label>Open Time :    </label>
        <input matInput type="time"
          placeholder="Open Time"
          formControlName="otime"
          >
  
          <mat-icon matSuffix>access_pin</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field>
        <label>Close Time :     </label>
        <input matInput type="time"
          placeholder="Close Time"
          formControlName="ctime"
          >
          <mat-icon matSuffix>schedule</mat-icon>
      </mat-form-field>
      <br>
      <mat-radio-group formControlName="Status">
        <label>Status :    </label>
        <mat-radio-button value="1"  class="radio">Open</mat-radio-button>
        <mat-radio-button value="2"  class="radio">Close</mat-radio-button>
        
      </mat-radio-group>
      <br>
      <div class="button-row">
        <button mat-raised-button class="btn" type="submit" routerLink="/vendor" >Save</button>
        <button mat-raised-button class="btn btn1"  >Edit</button>
      </div>
    </form>
    </div>
    
  </div>
</div>
<app-footer></app-footer>