<app-header></app-header>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-3" *ngFor="let arr of cafeList" style="margin-top:30px;">
       <div class="card">
         <div class="card-body">
           <h1 class="header">{{arr.name}}</h1>
           <img src ="assets/images/{{arr.url}}" class="image">
           <h4><strong>Address:  </strong>{{arr.address}},{{arr.city}}<br>
            {{arr.state}}</h4>
          
           
          <h4><strong>Pin:  </strong>{{arr.pin}}</h4>
          <h4><strong>Type: </strong>{{arr.type}}</h4>
          <h4><strong>Open Time: </strong>{{arr.opentime}}</h4>
          <h4><strong>Close Time: </strong>{{arr.closetime}}</h4>
          <h4><strong>Status:  </strong>{{arr.status}}</h4>
         </div>
        <div class="card-footer">
         <button mat-raised-button class="btn" routerLink="/vendor">View</button>
        </div>

       </div>

      </div>

    </div>

  </div>
<app-footer></app-footer>