<app-header></app-header>

  <div class="row">
  <div class="col-2">
<div class="sidebar">
  <h2>Vendor Dashboard</h2>
<ul>
  <button mat-raised-button  class="login-button">Add item</button>
  <br>
       <button mat-raised-button class="login-button"  >View item</button>
       <br>
       <button mat-raised-button class="login-button" >Order list</button>
</ul>
 </div>
 </div>
 <div class="col-10">      
   
     <div class="container">
       <div class="row">
         <div class="col-md-3 col-lg-3 col-sm-6" *ngFor="let arr of arrayList" style="margin-top:30px;">
          <div class="card">
            <div class="card-body">
              <h1 class="header">{{arr.Categoryname}}</h1>
              <img src ="assets/images/{{arr.image}}" class="image">
              <div class="arrange">
                <h2>{{arr.name}}</h2>
                <h2 style="margin-left: 40px;">₹{{arr.price}}</h2>
               <h2 style="margin-left: 35px;"><mat-icon>stars</mat-icon>{{arr.rating}}</h2> 
              
             </div>
            </div>
           <div class="card-footer">
            <button mat-raised-button class="btn" >Order</button>
           </div>

          </div>

         </div>

       </div>

     </div>
      
   



  </div>
  </div>
  




