.shift{
    width: 238px;
    background-color: black;
    height: 100%;
}
a{
    color: white !important;
    size: 35px;
}
mat-form-field, p {
    width: 80%;
    display: block;
    margin: auto;
  }
  .card{
    border: 1px solid #6d4c41;
    padding: 10px;
    margin: auto;
  }
  .btn{
      align-items: right !important;
      color:white!important;
      font-size: 25px;
      border: 1px solid black;
      background-color:black;
      margin-left: 500px;

  }
  .btn1{
     
      margin-left: 15px;
      background-color: #757575;
  }